<div id='container' ng-controller='SentimentCtrl' ng-init='initializeResults()'>
<!-- ng-init='initializeResults()' -->
   <div class='navigation wrapper'>
      <ul>
       <!--  <li><a href='#/sentiment'> Collection</a></li> -->
        <li><a href='#/'>Generate Another</a>  <li>
      </ul>
  </div>

  <h3> Overview </h3>
<section class='wrapper'>


  <blockquote>
    {{data.text}} - <span class="fs-small"> {{data.title}}</span>
  </blockquote>

    <pre>Personas</pre>
    <section class="ta-center">
      <h6>MOST LIKELY PERSONA</h6>

      <center><img src="{{data.tones.persona[0][2]}}" alt="Could not load image" /></center>
      <h3> {{data.tones.persona[0][0]}}</h3>

      <h7 class="fs-base">Others:</h7>
      <section class="grid wrapper-bottom ta-center">
        <div ng-repeat="persona in data.tones.persona" ng-if="$index >= 1 && $index < 5">
          <div>
            <h3 class="data-small">{{persona[1]}}</h3>{{persona[0]}}
          </div>
        </div>

      </section>
    </section>


    <pre>Personality</pre>
    <section class="grid ta-center">
      <div><h2 class="data">{{data.tones.personality.openness}}</h2>Openness</div>
      <div><h2 class="data">{{data.tones.personality.conscientiousness}}</h2>Conscientiousness</div>

    </section>
    <section class="grid wrapper ta-center">
      <div><h1 class="data">{{data.tones.personality.agreeableness}}</h1>Agreeableness</div>
      <div><h1 class="data">{{data.tones.personality.extraversion}}</h1>Extraversion</div>
    </section>

</section>
<footer class="fs-smallest ta-center">
  Made artisanally in SF | Christine Chou ♥
</footer>
</div>
